@page
@model BccFuba.Pages.Products.DoubleSidedPcbModel
@{
    ViewData["Title"] = "BCC Fuba";
    ViewData["PageTitle"] = "Products/Double Sided PCBs";
}
<!-- Content Start -->
	<div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-12 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="h-100">
						<h6 class="section-title bg-white text-start text-primary pe-3">Double Sided PCBs</h6>
                        <p>Set-up in 1989 along with Fuba Germany, our Double-sided PCB manufacturing unit 
                            has a capacity to delivery 6,000 m2 of Double-sided PCBs every month. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Content End -->

	<!-- Product Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <h1 class="display-6 mb-4">Our Double Sided PCBs</h1>
            </div>
            
			<div class="row g-4">
				<div class="project-item col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="position-relative service-item d-block rounded text-center h-100 p-4">
                    <img class="img-fluid rounded mb-4" src="~/img/doubleside-1.jpg" alt="">
						 <a href="img/doubleside-1.jpg" data-lightbox="project"><i class="fa fa-eye fa-2x"></i></a>
                    </div>
                </div>

				<div class="project-item col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="position-relative service-item d-block rounded text-center h-100 p-4">
                    <img class="img-fluid rounded mb-4" src="~/img/doubleside-2.jpg" alt="">
						 <a href="img/doubleside-2.jpg" data-lightbox="project"><i class="fa fa-eye fa-2x"></i></a>
                    </div>
                </div>

				<div class="project-item col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="position-relative service-item d-block rounded text-center h-100 p-4">
                    <img class="img-fluid rounded mb-4" src="~/img/doubleside-3.jpg" alt="">
						 <a href="img/doubleside-3.jpg" data-lightbox="project"><i class="fa fa-eye fa-2x"></i></a>
                    </div>
                </div>

				<div class="project-item col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="position-relative service-item d-block rounded text-center h-100 p-4">
                    <img class="img-fluid rounded mb-4" src="~/img/doubleside-4.jpg" alt="">
						 <a href="img/doubleside-4.jpg" data-lightbox="project"><i class="fa fa-eye fa-2x"></i></a>
                    </div>
                </div>

				<div class="project-item col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="position-relative service-item d-block rounded text-center h-100 p-4">
                    <img class="img-fluid rounded mb-4" src="~/img/doubleside-5.jpg" alt="">
						 <a href="img/doubleside-5.jpg" data-lightbox="project"><i class="fa fa-eye fa-2x"></i></a>
                    </div>
                </div>

				<div class="project-item col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="position-relative service-item d-block rounded text-center h-100 p-4">
                    <img class="img-fluid rounded mb-4" src="~/img/doubleside-6.jpg" alt="">
						 <a href="img/doubleside-6.jpg" data-lightbox="project"><i class="fa fa-eye fa-2x"></i></a>
                    </div>
                </div>

				<div class="project-item col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="position-relative service-item d-block rounded text-center h-100 p-4">
                    <img class="img-fluid rounded mb-4" src="~/img/doubleside-7.jpg" alt="">
						 <a href="img/doubleside-7.jpg" data-lightbox="project"><i class="fa fa-eye fa-2x"></i></a>
                    </div>
                </div>

				<div class="project-item col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="position-relative service-item d-block rounded text-center h-100 p-4">
                    <img class="img-fluid rounded mb-4" src="~/img/doubleside-8.jpg" alt="">
						 <a href="img/doubleside-8.jpg" data-lightbox="project"><i class="fa fa-eye fa-2x"></i></a>
                    </div>
                </div>

				<div class="project-item col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="position-relative service-item d-block rounded text-center h-100 p-4">
                    <img class="img-fluid rounded mb-4" src="~/img/doubleside-9.jpg" alt="">
						 <a href="img/doubleside-9.jpg" data-lightbox="project"><i class="fa fa-eye fa-2x"></i></a>
                    </div>
                </div>

				<div class="project-item col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="position-relative service-item d-block rounded text-center h-100 p-4">
                    <img class="img-fluid rounded mb-4" src="~/img/doubleside-10.jpg" alt="">
						 <a href="img/doubleside-10.jpg" data-lightbox="project"><i class="fa fa-eye fa-2x"></i></a>
                    </div>
                </div>
			</div>
        </div>
    </div>
    <!-- Product End -->