@page
@model BccFuba.Pages.Products.MultilayerPcbModel
@{
    ViewData["Title"] = "BCC Fuba";
    ViewData["PageTitle"] = "Products/Multilayer PCBs";
}
<!-- Content Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-12 wow fadeInUp" data-wow-delay="0.5s">
                <div class="h-100">
                    <h6 class="section-title bg-white text-start text-primary pe-3">Multilayer PCBs</h6>
                    <p>As electronic equipment become more complex and compact, the precise miniaturization of 
                        devices becomes very critical. This means that both, the conductors and their spacing 
                        within the circuit board become tighter and tighter. BCC Fuba has been manufacturing and 
                        exporting multilayer PCBs since its inception and has the capability to manufacture PCBs 
                        up to 10 layers.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Content End -->
<!-- Product Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h1 class="display-6 mb-4">Our Multilayer PCBs</h1>
        </div>

        <div class="row g-4">
            <div class="project-item col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="position-relative service-item d-block rounded text-center h-100 p-4">
                    <img class="img-fluid rounded mb-4" src="~/img/multilayer-1.jpg" alt="">
                    <a href="img/multilayer-1.jpg" data-lightbox="project"><i class="fa fa-eye fa-2x"></i></a>
                </div>
            </div>

            <div class="project-item col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="position-relative service-item d-block rounded text-center h-100 p-4">
                    <img class="img-fluid rounded mb-4" src="~/img/multilayer-2.jpg" alt="">
                    <a href="img/multilayer-2.jpg" data-lightbox="project"><i class="fa fa-eye fa-2x"></i></a>
                </div>
            </div>

            <div class="project-item col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="position-relative service-item d-block rounded text-center h-100 p-4">
                    <img class="img-fluid rounded mb-4" src="~/img/multilayer-3.jpg" alt="">
                    <a href="img/multilayer-3.jpg" data-lightbox="project"><i class="fa fa-eye fa-2x"></i></a>
                </div>
            </div>

            <div class="project-item col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="position-relative service-item d-block rounded text-center h-100 p-4">
                    <img class="img-fluid rounded mb-4" src="~/img/multilayer-4.jpg" alt="">
                    <a href="img/multilayer-4.jpg" data-lightbox="project"><i class="fa fa-eye fa-2x"></i></a>
                </div>
            </div>

            <div class="project-item col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="position-relative service-item d-block rounded text-center h-100 p-4">
                    <img class="img-fluid rounded mb-4" src="~/img/multilayer-5.jpg" alt="">
                    <a href="img/multilayer-5.jpg" data-lightbox="project"><i class="fa fa-eye fa-2x"></i></a>
                </div>
            </div>

            <div class="project-item col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="position-relative service-item d-block rounded text-center h-100 p-4">
                    <img class="img-fluid rounded mb-4" src="~/img/multilayer-6.jpg" alt="">
                    <a href="img/multilayer-6.jpg" data-lightbox="project"><i class="fa fa-eye fa-2x"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Product End -->