@page
@model BccFuba.Pages.Products.MultilayerPcbModel
@{
    ViewData["PageTitle"] = "Products/Multilayer PCBs";
}
<!-- Content Start -->
<!-- Content Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-12 wow fadeInUp" data-wow-delay="0.5s">
                <div class="h-100">
                    <h6 class="section-title bg-white text-start text-primary pe-3">Multilayer PCBs</h6>
                    <p>Multilayer PCBs are a type of printed circuit board that consists of more than two conductive copper layers (commonly four or more) separated by insulating layers, known as substrates or prepreg. These boards allow for more complex and denser circuitry compared to single or double-layer PCBs.</p>

                    <p>
                        Here are some key aspects of multilayer PCBs:
                        <ul>
                            <li><b>Enhanced Complexity:</b> Multilayer PCBs provide more space for routing traces and placing components. This allows for the creation of intricate and compact designs, which is especially beneficial for high-density electronic devices like smartphones, computers, and advanced control systems.</li>

                            <li><b>Signal Integrity:</b> With multiple layers, signal traces can be designed to minimize interference and signal degradation. This improves the signal integrity and reliability of the circuit, crucial for high-frequency applications and data transmission.</li>

                            <li><b>Reduced Size and Weight:</b> By distributing the circuit across multiple layers, multilayer PCBs can achieve the same functionality as larger single or double-layer boards, enabling smaller and lighter devices.</li>

                            <li><b>Power Distribution:</b> Multilayer PCBs allow for efficient power distribution planes, which helps manage power requirements throughout the circuit. This is particularly important in devices with different voltage and current needs.</li>

                            <li><b>Complex Designs and Technologies:</b> They facilitate the integration of advanced technologies like ball grid arrays (BGAs), which require more layers for connecting the numerous pins beneath the surface of the component.</li>

                            <li><b>Manufacturing Challenges:</b> While providing significant benefits, multilayer PCBs also pose manufacturing challenges due to their complexity. Precision in layer alignment, drilling, and lamination processes is crucial to ensure proper functionality.</li>

                            <li><b>Cost Consideration:</b> Multilayer PCBs tend to be more expensive to manufacture compared to single or double-layer boards due to the complexity involved in production and the materials used.</li>
                        </ul>
                    </p>

                    <p>In summary, multilayer PCBs offer increased design flexibility, improved performance, and higher integration capabilities, making them essential for many advanced electronic devices where space, performance, and complexity are critical factors.</p>

                    <p>
                        BCC Fuba has been manufacturing and exporting multilayer PCBs since its inception and has the capability to manufacture PCBs up to 10 layers.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Content End -->
<!-- Product Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h1 class="display-6 mb-4">Our Multilayer PCBs</h1>
        </div>

        <div class="row g-4">
            <div class="project-item col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="position-relative service-item d-block rounded text-center h-100 p-4">
                    <img class="img-fluid rounded mb-4" src="~/img/multilayer-1.jpg" alt="">
                    <a href="~/img/multilayer-1.jpg" data-lightbox="project"><i class="fa fa-eye fa-2x"></i></a>
                </div>
            </div>

            <div class="project-item col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="position-relative service-item d-block rounded text-center h-100 p-4">
                    <img class="img-fluid rounded mb-4" src="~/img/multilayer-2.jpg" alt="">
                    <a href="~/img/multilayer-2.jpg" data-lightbox="project"><i class="fa fa-eye fa-2x"></i></a>
                </div>
            </div>

            <div class="project-item col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="position-relative service-item d-block rounded text-center h-100 p-4">
                    <img class="img-fluid rounded mb-4" src="~/img/multilayer-3.jpg" alt="">
                    <a href="~/img/multilayer-3.jpg" data-lightbox="project"><i class="fa fa-eye fa-2x"></i></a>
                </div>
            </div>

            <div class="project-item col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="position-relative service-item d-block rounded text-center h-100 p-4">
                    <img class="img-fluid rounded mb-4" src="~/img/multilayer-4.jpg" alt="">
                    <a href="~/img/multilayer-4.jpg" data-lightbox="project"><i class="fa fa-eye fa-2x"></i></a>
                </div>
            </div>

            <div class="project-item col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="position-relative service-item d-block rounded text-center h-100 p-4">
                    <img class="img-fluid rounded mb-4" src="~/img/multilayer-5.jpg" alt="">
                    <a href="~/img/multilayer-5.jpg" data-lightbox="project"><i class="fa fa-eye fa-2x"></i></a>
                </div>
            </div>

            <div class="project-item col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="position-relative service-item d-block rounded text-center h-100 p-4">
                    <img class="img-fluid rounded mb-4" src="~/img/multilayer-6.jpg" alt="">
                    <a href="~/img/multilayer-6.jpg" data-lightbox="project"><i class="fa fa-eye fa-2x"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Product End -->