@page
@model BccFuba.Pages.Products.PcbOverviewModel
@{
    ViewData["PageTitle"] = "Products/Overview of PCBs";
}
<!-- Content Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-12 wow fadeInUp" data-wow-delay="0.5s">
                <div class="h-100">
                    <p>PCB stands for Printed Circuit Board. It's a fundamental component in many electronic devices, serving as a platform for connecting and supporting electronic components. Essentially, it's a board made of non-conductive material (like fiberglass) with pathways etched or printed onto it that conduct electricity, providing connections between different components.</p>

                    <p>These boards are crucial in electronics manufacturing as they provide a compact, organized way to assemble various electrical parts. The components, like resistors, capacitors, integrated circuits, and connectors, are soldered onto the PCB, and the traces on the board allow electrical signals to flow between them.</p>

                    <p>PCBs come in different types, like single-layer, double-layer (having copper traces on both sides), and multi-layer (which have multiple layers of copper traces separated by insulating materials). They're designed according to the specific needs of the electronic device they'll be used in.</p>

                    <p>Overall, PCBs are foundational to modern electronics, enabling the creation of smaller, more efficient, and more complex electronic devices.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Content End -->
<!-- Product Start -->

<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h6 class="section-title bg-white text-center text-primary px-3">Our Products</h6>
            <h1 class="display-6 mb-4">Delivering superior quality & most reliable PCBs</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item d-block rounded h-100 p-3">
                    <div><h4 class="mb-0 text-center">Single Sided PCBs</h4></div>
                    <div class="text-center"><br /><img class="img-fluid rounded" src="~/img/product-4.jpg" alt=""></div><br />
                    <a href="/Products/SingleSided">View More...</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item d-block rounded h-100 p-3">
                    <div><h4 class="mb-0 text-center">Double Sided PCBs</h4></div>
                    <div class="text-center"><br /><img class="img-fluid rounded" src="~/img/product-2.jpg" alt=""></div><br />
                    <a href="/Products/DoubleSided">View More...</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item d-block rounded h-100 p-3">
                    <div><h4 class="mb-0 text-center">Multilayer PCBs</h4></div>
                    <div class="text-center"><br /><img class="img-fluid rounded" src="~/img/product-1.jpg" alt=""></div><br />
                    <a href="/Products/Multilayer">View More...</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="service-item d-block rounded h-100 p-3">
                    <div><h4 class="mb-0 text-center">Metal Core PCBs</h4></div>
                    <div class="text-center"><br /><img class="img-fluid rounded" src="~/img/product-3.jpg" alt=""></div><br />
                    <a href="/Products/MetalCore">View More...</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Product End -->