@page
@model BccFuba.Pages.Products.PcbOverviewModel
@{
    ViewData["Title"] = "BCC Fuba";
    ViewData["PageTitle"] = "Products/Overview of PCBs";
}
<!-- Content Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            coming soon
        </div>
    </div>
</div>
<!-- Content End -->
