@page
@model BccFuba.Pages.Products.SingleSidedPcbModel
@{
    ViewData["PageTitle"] = "Products/Single Sided PCBs";
}
<!-- Content Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-12 wow fadeInUp" data-wow-delay="0.5s">
                <div class="h-100">
                    <h6 class="section-title bg-white text-start text-primary pe-3">Single Sided PCBs</h6>
                    <p>Single-sided PCBs are printed circuit boards that have conductive copper traces on only one side of the board. The conductive traces are etched or printed onto a single layer of non-conductive substrate material, typically fiberglass reinforced with epoxy resin (FR-4).</p>

                    <p>
                        Key features and characteristics of single-sided PCBs include:

                        <ul>
                            <li><b>Conductive Layer:</b> The single layer of copper traces is used for connecting various electronic components mounted on the same side of the board. These components are soldered onto the copper traces to form the electrical connections.</li>

                            <li><b>Simplicity:</b> Single-sided PCBs are simpler in design and construction compared to double-sided or multilayer PCBs. They are often used in basic electronic devices where the circuitry is not very complex or where cost efficiency is a priority.</li>

                            <li><b>Cost-Effectiveness:</b> They are generally more cost-effective to produce compared to double-sided or multilayer PCBs due to their simpler construction and fewer manufacturing steps.</li>

                            <li><b>Limited Component Density:</b> The single layer of conductive traces restricts the density of components that can be mounted on the board. This limitation often requires larger board sizes for accommodating more components.</li>

                            <li><b>Applications:</b> Single-sided PCBs find applications in simple electronics, such as calculators, toys, LED lighting, power supplies, and other less complex devices where space constraints are not critical.</li>

                            <li><b>Ease of Design and Prototyping:</b> They are easier to design and prototype due to their simplicity, making them suitable for initial testing and prototyping phases before moving to more complex PCB designs.</li>

                            <li><b>Less Effective Signal Isolation:</b> As there is only one conductive layer, single-sided PCBs may be more prone to signal interference and noise compared to double-sided or multilayer boards, particularly in high-frequency applications.</li>
                        </ul>
                    </p>

                    <p>Single-sided PCBs are a cost-effective and straightforward solution for simpler electronic devices or applications where space and complexity requirements are minimal. While they have limitations in terms of component density and complexity, they remain relevant in various industries for specific purposes.</p>

                    <p>Our state of the art Single-sided manufacturing unit has been set-up recently which can delivery 7,500 m2 of Single-sided PCBs every month.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Content End -->
<!-- Product Start -->
<div class="container-xxl py-5">
	<div class="container">
		<div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
			<h1 class="display-6 mb-4">Our Single Sided PCBs</h1>
		</div>

		<div class="row g-4">
			<div class="col-lg-3 wow fadeInUp" data-wow-delay="0.1s">
				<div class="row g-2">
					<div class="project-item col-lg-12 col-md-12 wow fadeInUp" data-wow-delay="0.1s">
						<div class="position-relative service-item d-block rounded text-center h-100 p-3">
							<img class="img-fluid rounded mb-3" src="~/img/singlesided-1.jpg" alt="">
							<a href="~/img/singlesided-1.jpg" data-lightbox="project"><i class="fa fa-eye fa-2x"></i></a>
						</div>
					</div>

					<div class="project-item col-lg-12 col-md-12 wow fadeInUp" data-wow-delay="0.3s">
						<div class="position-relative service-item d-block rounded text-center h-100 p-3">
							<img class="img-fluid rounded mb-3" src="~/img/singlesided-2.jpg" alt="">
							<a href="~/img/singlesided-2.jpg" data-lightbox="project"><i class="fa fa-eye fa-2x"></i></a>
						</div>
					</div>

					<div class="project-item col-lg-12 col-md-12 wow fadeInUp" data-wow-delay="0.5s">
						<div class="position-relative service-item d-block rounded text-center h-100 p-3">
							<img class="img-fluid rounded mb-3" src="~/img/singlesided-3.jpg" alt="">
							<a href="~/img/singlesided-3.jpg" data-lightbox="project"><i class="fa fa-eye fa-2x"></i></a>
						</div>
					</div>

					<div class="project-item col-lg-12 col-md-12 wow fadeInUp" data-wow-delay="0.7s">
						<div class="position-relative service-item d-block rounded text-center h-100 p-3">
							<img class="img-fluid rounded mb-3" src="~/img/singlesided-4.jpg" alt="">
							<a href="~/img/singlesided-4.jpg" data-lightbox="project"><i class="fa fa-eye fa-2x"></i></a>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-9 wow fadeInUp data_grid table-responsive" data-wow-delay="0.5s">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th style="min-width:250px;">Technical Specifications</th>
							<th style="min-width:150px; text-align:center">Standard</th>
							<th style="min-width:150px; text-align:center">Non-standard</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><b>Materials used</b></td>
							<td align="center">FR-4, FR4 (TG 180) </td>
							<td align="center">Ceramin, PTFE</td>
						</tr>
						<tr>
							<td><b>Input Media</b></td>
							<td align="center">Gerber Data 274X, Gerber Data D, PCB File, DRL File</td>
							<td align="center">Gerber Data 274X, Gerber Data D, PCB File, DRL File</td>
						</tr>
						<tr>
							<td><b>Approvals</b></td>
							<td align="center">IATF 16949:2016, UL94 - V0, ISO 9001:2015</td>
							<td align="center">IATF 16949:2016, UL94 - V0, ISO 9001:2015</td>
						</tr>
						<tr>
							<td><b>Copper Thickness</b></td>
							<td align="center">12 &#956; to 140 &#956;</td>
							<td align="center">Above 140 &#956;</td>
						</tr>
						<tr>
							<td><b>Board Thickness</b></td>
							<td align="center">0.30 mm to 3.20 mm</td>
							<td align="center">0.30 mm to 3.20 mm</td>
						</tr>
						<tr>
							<td><b>Minimum Hole Size (Finished)</b></td>
							<td align="center">0.25 mm</td>
							<td align="center">0.20 mm</td>
						</tr>
						<tr>
							<td><b>Minimum Line Spacing</b></td>
							<td align="center">0.15 mm</td>
							<td align="center">0.125 mm</td>
						</tr>
						<tr>
							<td><b>Minimum Line Width</b></td>
							<td align="center">0.15 mm</td>
							<td align="center">0.125 mm</td>
						</tr>
						<tr>
							<td><b>Minimum Annular Ring</b></td>
							<td align="center">0.10 mm</td>
							<td align="center">0.075 mm</td>
						</tr>
						<tr>
							<td><b>Maximum Panel Size</b></td>
							<td align="center">1200 X 508</td>
							<td align="center">1200 X 508</td>
						</tr>
						<tr>
							<td><b>Minimum Solder Mask Dam</b></td>
							<td align="center">0.15 mm</td>
							<td align="center">0.10 mm</td>
						</tr>
						<tr>
							<td><b>Hole Diameter Tolerence NPTH</b></td>
							<td align="center">+/-0.05 mm</td>
							<td align="center">+/-0.05 mm</td>
						</tr>
						<tr>
							<td><b>Profile Routing Tolerence</b></td>
							<td align="center">+/-0.20 mm</td>
							<td align="center">,+/-0.10</td>
						</tr>
						<tr>
							<td><b>Aspect ratio</b></td>
							<td align="center">5.3:1</td>
							<td align="center">6.4:1</td>
						</tr>
						<tr>
							<td><b>Surface Finish</b></td>
							<td align="center">Lead Free HASL, Tin-lead HASL, and Lacquer </td>
							<td align="center">ENIG </td>
						</tr>
						<tr>
							<td><b>Solder Mask Colors</b></td>
							<td align="center">Green, Black, White, Red, Yellow, Grey and Blue</td>
							<td align="center">All other colours</td>
						</tr>
						<tr>
							<td><b>Peelable mask</b></td>
							<td align="center">Top, bottom or both sides</td>
							<td align="center">Top, bottom or both sides</td>
						</tr>
						<tr>
							<td><b>Electrical test</b></td>
							<td align="center">100% (Flying probe or fixture test)</td>
							<td align="center">100% (Flying probe or fixture test)</td>
						</tr>
						<tr>
							<td><b>Quality Standards</b></td>
							<td align="center">IPC-A-600 J / PERFAG</td>
							<td align="center">IPC-A-600 J / PERFAG</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

	</div>
</div>
<!-- Product End -->