@page
@model BccFuba.Pages.Technologies.CertificationsModel
@{
    ViewData["PageTitle"] = "Technologies/Certifications";
}
<div class="container-xxl py-5">
		<div class="container">
			<div class="row g-4">
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item d-block rounded h-100 p-4">
						<div><h4 class="mb-0">IATF Certificate</h4></div>
						<div class="text-center"><br /><img src="~/img/IATFCertificate.jpg" alt="" /></div><br />
					<a href="~/Certificate/IATF Certificate.pdf" target="_blank">Download Certificate <i class="fa fa-file-pdf text-primary"></i></a>
                    </div>
                </div>	

				<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
					<div class="service-item d-block rounded h-100 p-4">
						<div><h4 class="mb-0">ISO Certificate</h4></div>
					<div class="text-center"><br /><img src="~/img/ISOCertificate.jpg" alt="" /></div><br />
					<a href="~/Certificate/ISO Certificate.pdf" target="_blank">Download Certificate <i class="fa fa-file-pdf text-primary"></i></a>
                    </div>
                </div>	

				<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item d-block rounded h-100 p-4">
						<div><h4 class="mb-0">MSME Certificate</h4></div>
						<div class="text-center"><br /><img src="~/img/MSMECertificate.jpg" alt="" /></div><br />
					<a href="~/Certificate/MSME Certificate.pdf" target="_blank">Download Certificate <i class="fa fa-file-pdf text-primary"></i></a>
                    </div>
                </div>	

				<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.8s">
					<div class="service-item d-block rounded h-100 p-4">
						<div><h4 class="mb-0">UL Certificate</h4></div>
					<div class="text-center"><br /><img src="~/img/ULCertificate.jpg" alt="" /></div><br />
					<a href="~/Certificate/UL Certificate.pdf" target="_blank">Download Certificate <i class="fa fa-file-pdf text-primary"></i></a>
                    </div>
                </div>	
			</div>
		</div>	
       
    </div>