@page
@model BccFuba.Pages.Technologies.DoubleSideModel
@{
    ViewData["PageTitle"] = "Technologies/Double Side";
}
<!-- Content Start -->
<div class="container-xxl py-5">
	<div class="container">
		<div class="row g-4">
			<div class="col-lg-12 col-md-12 data_grid table-responsive wow fadeInUp " data-wow-delay="0.1s">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th style="min-width:250px;">Technical Specifications</th>
							<th style="min-width:150px; text-align:center">Standard</th>
							<th style="min-width:150px; text-align:center">Non-standard</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><b>Materials used</b></td>
							<td align="center">FR-4, FR4 (TG 180) </td>
							<td align="center">Ceramin, PTFE</td>
						</tr>
						<tr>
							<td><b>Input Media</b></td>
							<td align="center">Gerber Data 274X, Gerber Data D, PCB File, DRL File</td>
							<td align="center">Gerber Data 274X, Gerber Data D, PCB File, DRL File</td>
						</tr>
						<tr>
							<td><b>Approvals</b></td>
							<td align="center">IATF 16949:2016, UL94 - V0, ISO 9001:2015</td>
							<td align="center">IATF 16949:2016, UL94 - V0, ISO 9001:2015</td>
						</tr>
						<tr>
							<td><b>Copper Thickness</b></td>
							<td align="center">12 &#956; to 140 &#956;</td>
							<td align="center">Above 140 &#956;</td>
						</tr>
						<tr>
							<td><b>Board Thickness</b></td>
							<td align="center">0.30 mm to 3.20 mm</td>
							<td align="center">0.30 mm to 3.20 mm</td>
						</tr>
						<tr>
							<td><b>Minimum Hole Size (Finished)</b></td>
							<td align="center">0.25 mm</td>
							<td align="center">0.20 mm</td>
						</tr>
						<tr>
							<td><b>Minimum Line Spacing</b></td>
							<td align="center">0.15 mm</td>
							<td align="center">0.125 mm</td>
						</tr>
						<tr>
							<td><b>Minimum Line Width</b></td>
							<td align="center">0.15 mm</td>
							<td align="center">0.125 mm</td>
						</tr>
						<tr>
							<td><b>Minimum Annular Ring</b></td>
							<td align="center">0.10 mm</td>
							<td align="center">0.075 mm</td>
						</tr>
						<tr>
							<td><b>Maximum Panel Size</b></td>
							<td align="center">600 X 508</td>
							<td align="center">820 X 508</td>
						</tr>
						<tr>
							<td><b>Minimum Solder Mask Dam</b></td>
							<td align="center">0.15 mm</td>
							<td align="center">0.10 mm</td>
						</tr>
						<tr>
							<td><b>Hole Diameter Tolerence PTH</b></td>
							<td align="center">+/-0.075 mm</td>
							<td align="center">+/-0.05 mm</td>
						</tr>
						<tr>
							<td><b>Hole Diameter Tolerence NPTH</b></td>
							<td align="center">+/-0.05 mm</td>
							<td align="center">+/-0.05 mm</td>
						</tr>
						<tr>
							<td><b>Profile Routing Tolerence</b></td>
							<td align="center">+/-0.20 mm</td>
							<td align="center">,+/-0.10</td>
						</tr>
						<tr>
							<td><b>Aspect ratio</b></td>
							<td align="center">5.3:1</td>
							<td align="center">6.4:1</td>
						</tr>
						<tr>
							<td><b>Surface Finish</b></td>
							<td align="center">Lead Free HASL, Tin-lead HASL, and Lacquer </td>
							<td align="center">ENIG </td>
						</tr>
						<tr>
							<td><b>Solder Mask Colors</b></td>
							<td align="center">Green, Black, White, Red, Yellow, Grey and Blue</td>
							<td align="center">All other colours</td>
						</tr>
						<tr>
							<td><b>Peelable mask</b></td>
							<td align="center">Top, bottom or both sides</td>
							<td align="center">Top, bottom or both sides</td>
						</tr>
						<tr>
							<td><b>Electrical test</b></td>
							<td align="center">100% (Flying probe or fixture test)</td>
							<td align="center">100% (Flying probe or fixture test)</td>
						</tr>
						<tr>
							<td><b>Quality Standards</b></td>
							<td align="center">IPC-A-600 J / PERFAG</td>
							<td align="center">IPC-A-600 J / PERFAG</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

</div>
<!-- Content End -->