@page
@model BccFuba.Pages.Technologies.CertificationsModel
@{
    ViewData["PageTitle"] = "Technologies/Overview";
}
<!-- Content Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-12 col-md-12 data_grid table-responsive wow fadeInUp " data-wow-delay="0.1s">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="min-width:200px;">INSTRUMENT'S DESCREPTION</th>
                            <th style="min-width:200px;">LEAST COUNT / RESOLUTION</th>
                            <th style="min-width:150px;">RANGE</th>
                            <th style="min-width:150px;">MAKE</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1000X MAGNIFIER WITH CAMERA</td>
                            <td>NA</td>
                            <td>RESOLUTION 1920 X 1080P</td>
                            <td>USB DIGITAL MICROSCOPE</td>
                        </tr>
                        <tr>
                            <td>10X MAGNIFIER HAND HELD</td>
                            <td>NA</td>
                            <td>NA</td>
                            <td>PEAK</td>
                        </tr>
                        <tr>
                            <td>CMI-1 FOR HOLE AND SURFACE PLATING</td>
                            <td>0.1 &#956;</td>
                            <td>1.59 MIL/ 40.4 &#956;M</td>
                            <td>OXFORD</td>
                        </tr>
                        <tr>
                            <td>CMI-2 SURFACE </td>
                            <td>0.1 &#956;</td>
                            <td>NA</td>
                            <td>FISCHER</td>
                        </tr>
                        <tr>
                            <td>DIAL GUAGE WITH MAGNETIC STAND</td>
                            <td>0.01 MM</td>
                            <td>0-10 MM</td>
                            <td>AEROSPACE</td>
                        </tr>
                        <tr>
                            <td>DIGITAL MICROMETER</td>
                            <td>0.001MM</td>
                            <td>0 TO 25MM</td>
                            <td>MITUTOYO</td>
                        </tr>
                        <tr>
                            <td>DIGITAL ELECTRONIC WEIGHING BALANCE</td>
                            <td>0.001GM</td>
                            <td>100MG TO 220GM</td>
                            <td>WENSAR/PGB220</td>
                        </tr>
                        <tr>
                            <td>DIGITAL MICROSCOPE</td>
                            <td>NA</td>
                            <td>5X, 10X, 20X, 50X</td>
                            <td>SOPTOP</td>
                        </tr>
                        <tr>
                            <td>DIGITAL PH  METER 0-14PH</td>
                            <td>0.01</td>
                            <td>0-14PH</td>
                            <td>AQUAPRO</td>
                        </tr>
                        <tr>
                            <td>DIGITAL STOP WATCH</td>
                            <td>0.01</td>
                            <td>UPTO 60MIN.</td>
                            <td>RACER</td>
                        </tr>
                        <tr>
                            <td>DIGITAL THERMO HYGROMETER</td>
                            <td>0.1 &#176; C & RH 1 %</td>
                            <td>10&#176;C TO 70&#176;C<br />10 TO 99%</td>
                            <td>EQUINOX</td>
                        </tr>
                        <tr>
                            <td>DIGITAL V- GROOVE DEPTH CHECKER</td>
                            <td>0.01MM</td>
                            <td>0 TO 12.7MM</td>
                            <td>VEIMI</td>
                        </tr>
                        <tr>
                            <td>DIGITAL VERNIER CALIPER</td>
                            <td>0.01MM</td>
                            <td>0 TO 300MM</td>
                            <td>MITUTOYO</td>
                        </tr>
                        <tr>
                            <td>ELECTRONIC WEIGHT BALANCE </td>
                            <td>0.01 GM</td>
                            <td>0 TO 220.0 GM</td>
                            <td>SCALE TECH</td>
                        </tr>
                        <tr>
                            <td>FILLER GAGUE</td>
                            <td>NA</td>
                            <td>0.05 TO 1.0 MM</td>
                            <td>JINHUAI 100B 14</td>
                        </tr>
                        <tr>
                            <td>FLUKE TEMPRATURE GUN</td>
                            <td>0.1 DEG.</td>
                            <td> -50 TO 470 DEG</td>
                            <td>FLUKE</td>
                        </tr>
                        <tr>
                            <td>HAND HELD MICROSCOPE 100X </td>
                            <td>NA</td>
                            <td>NA</td>
                            <td>PEAK</td>
                        </tr>
                        <tr>
                            <td>HULL CELL APPARATUS</td>
                            <td>NA</td>
                            <td>NA</td>
                            <td>GALVANOMASTER</td>
                        </tr>
                        <tr>
                            <td>ILLUMINATED MAGNIFIER LAMPS</td>
                            <td>NA</td>
                            <td>NA</td>
                            <td>ANIKET ELECTRO TECH SYSTEM</td>
                        </tr>
                        <tr>
                            <td>INFRA RED DRY OVEN </td>
                            <td>NA</td>
                            <td>NA</td>
                            <td>HAND MADE</td>
                        </tr>
                        <tr>
                            <td>MEGGER (REGULATED POWER SUPPLY)</td>
                            <td>NA</td>
                            <td>12 V & 24V</td>
                            <td>MADE IN CHINA</td>
                        </tr>
                        <tr>
                            <td>MICRO METER</td>
                            <td>0.01 MM</td>
                            <td>0 TO 25 MM</td>
                            <td>MITUTOYO</td>
                        </tr>
                        <tr>
                            <td>MICRO SECTION MOULD SYSTEM</td>
                            <td>NA</td>
                            <td>NA</td>
                            <td>METASERV</td>
                        </tr>
                        <tr>
                            <td>MICROMETER - DIGITAL</td>
                            <td>0.001MM</td>
                            <td>0 TO 25MM</td>
                            <td>MITUTOYO</td>
                        </tr>
                        <tr>
                            <td>MICRSCOPE WITH STAND 100X </td>
                            <td>NA</td>
                            <td>NA</td>
                            <td>PEAK</td>
                        </tr>
                        <tr>
                            <td>PIN  GAUGE </td>
                            <td>0.001 MM</td>
                            <td>0.50 TO 5.50 MM</td>
                            <td>METROLOGY INSTRUMENTS & GUAGEING (P) LIMITED</td>
                        </tr>
                        <tr>
                            <td>PRESSURE GUAGE</td>
                            <td>0.05 Bar </td>
                            <td>0 To 16 BAR</td>
                            <td>MASS</td>
                        </tr>
                        <tr>
                            <td>SCREEN TENSION TESTER</td>
                            <td>&#177; 1.5 N/CM</td>
                            <td>0-100N</td>
                            <td>MADE IN CHINA</td>
                        </tr>
                        <tr>
                            <td>SET OF WEIGHT (M1 CLASS)</td>
                            <td>NA</td>
                            <td>1 MG TO 100 GM</td>
                            <td>NM</td>
                        </tr>
                        <tr>
                            <td>SLIP GAUGE SET</td>
                            <td>NA</td>
                            <td>0.5 TO 100MM</td>
                            <td>NM</td>
                        </tr>
                        <tr>
                            <td>TEMPERATURE DATA LOGGER WITH SENSOR</td>
                            <td>0.1&#176; C</td>
                            <td>AS PER RANGE</td>
                            <td>PPI</td>
                        </tr>
                        <tr>
                            <td>TRUE RMS CLAMP METER</td>
                            <td>AS PER RANGE</td>
                            <td>AS PER RANGE</td>
                            <td>FLUKE</td>
                        </tr>
                        <tr>
                            <td>VACCUM GUAGE</td>
                            <td>-5 MMHG/ &#177;0.25%</td>
                            <td>-760 MMHG TO 0 MMHG</td>
                            <td>MASS</td>
                        </tr>
                        <tr>
                            <td>WET FILM THICKNSS TESTER </td>
                            <td>1 MIL.0.0254 &#956;</td>
                            <td>NA</td>
                            <td>KRISTEEL</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- Content End -->