@page
@model BccFuba.Pages.Investors.AnnualReportsModel
@{
    ViewData["PageTitle"] = "Investors/Annual Reports";
}
<!-- Content Start -->
	<div class="container-xxl py-5">
		<div class="container">
			<div class="row g-4">
                <div class="col-lg-12 col-md-12 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item d-block rounded h-100 p-4">
						<h4 class="mb-0">Annual Reports</h4><br />
						<div class="row g-4">						
							<div class="col-lg-4 col-md-6"><ul><li>Annual Report  1996-97 <a href="~/annual_reports/Annual Report  1996-97.pdf" target="_blank"><i class="fa fa-file-pdf text-primary"></i></a></li></ul></div>

							<div class="col-lg-4 col-md-6"><ul><li>Annual Report  1998-99 <a href="~/annual_reports/Annual Report  1998-99.pdf" target="_blank"><i class="fa fa-file-pdf text-primary"></i></a></li></ul></div>
							
							<div class="col-lg-4 col-md-6"><ul><li>Annual Report  1999-00 <a href="~/annual_reports/Annual Report  1999-00.pdf" target="_blank"><i class="fa fa-file-pdf text-primary"></i></a></li></ul></div>
							
							<div class="col-lg-4 col-md-6"><ul><li>Annual Report  2000-01 <a href="~/annual_reports/Annual Report  2000-01.pdf" target="_blank"><i class="fa fa-file-pdf text-primary"></i></a></li></ul></div>
							
							<div class="col-lg-4 col-md-6"><ul><li>Annual Report  2001-02 <a href="~/annual_reports/Annual Report  2001-02.pdf" target="_blank"><i class="fa fa-file-pdf text-primary"></i></a></li></ul></div>
							
							<div class="col-lg-4 col-md-6"><ul><li>Annual Report  2002-03 <a href="~/annual_reports/Annual Report  2002-03.pdf" target="_blank"><i class="fa fa-file-pdf text-primary"></i></a></li></ul></div>
							
							<div class="col-lg-4 col-md-6"><ul><li>Annual Report  2003-04 <a href="~/annual_reports/Annual Report  2003-04.pdf" target="_blank"><i class="fa fa-file-pdf text-primary"></i></a></li></ul></div>
							
							<div class="col-lg-4 col-md-6"><ul><li>Annual Report  2004-05 <a href="~/annual_reports/Annual Report  2004-05.pdf" target="_blank"><i class="fa fa-file-pdf text-primary"></i></a></li></ul></div>
							
							<div class="col-lg-4 col-md-6"><ul><li>Annual Report  2005-06 <a href="~/annual_reports/Annual Report  2005-06.pdf" target="_blank"><i class="fa fa-file-pdf text-primary"></i></a></li></ul></div>								
							
							<div class="col-lg-4 col-md-6"><ul><li>Annual Report  2006-07 <a href="~/annual_reports/Annual Report  2006-07.pdf" target="_blank"><i class="fa fa-file-pdf text-primary"></i></a></li></ul></div>
							
							<div class="col-lg-4 col-md-6"><ul><li>Annual Report  2007-08 <a href="~/annual_reports/Annual Report  2007-08.pdf" target="_blank"><i class="fa fa-file-pdf text-primary"></i></a></li></ul></div>
							
							<div class="col-lg-4 col-md-6"><ul><li>Annual Report  2008-09 <a href="~/annual_reports/Annual Report  2008-09.pdf" target="_blank"><i class="fa fa-file-pdf text-primary"></i></a></li></ul></div>
							
							<div class="col-lg-4 col-md-6"><ul><li>Annual Report  2009-10 <a href="~/annual_reports/Annual Report  2009-10.pdf" target="_blank"><i class="fa fa-file-pdf text-primary"></i></a></li></ul></div>
							
							<div class="col-lg-4 col-md-6"><ul><li>Annual Report  2010-11 <a href="~/annual_reports/Annual Report  2010-11.pdf" target="_blank"><i class="fa fa-file-pdf text-primary"></i></a></li></ul></div>
							
							<div class="col-lg-4 col-md-6"><ul><li>Annual Report  2011-12 <a href="~/annual_reports/Annual Report  2011-12.pdf" target="_blank"><i class="fa fa-file-pdf text-primary"></i></a></li></ul></div>
							
							<div class="col-lg-4 col-md-6"><ul><li>Annual Report  2012-13 <a href="~/annual_reports/Annual Report  2012-13.pdf" target="_blank"><i class="fa fa-file-pdf text-primary"></i></a></li></ul></div>
							
							<div class="col-lg-4 col-md-6"><ul><li>Annual Report  2014-15 <a href="~/annual_reports/Annual Report  2014-15.pdf" target="_blank"><i class="fa fa-file-pdf text-primary"></i></a></li></ul></div>
							
							<div class="col-lg-4 col-md-6"><ul><li>Annual Report  2015-16 <a href="~/annual_reports/Annual Report  2015-16.pdf" target="_blank"><i class="fa fa-file-pdf text-primary"></i></a></li></ul></div>
							
							<div class="col-lg-4 col-md-6"><ul><li>Annual Report  2016-17 <a href="~/annual_reports/Annual Report  2016-17.pdf" target="_blank"><i class="fa fa-file-pdf text-primary"></i></a></li></ul></div>
							
							<div class="col-lg-4 col-md-6"><ul><li>Annual Report  2017-18 <a href="~/annual_reports/Annual Report  2017-18.pdf" target="_blank"><i class="fa fa-file-pdf text-primary"></i></a></li></ul></div>

							<div class="col-lg-4 col-md-6"><ul><li>Annual Report  2018-19 <a href="~/annual_reports/Annual Report  2018-19.pdf" target="_blank"><i class="fa fa-file-pdf text-primary"></i></a></li></ul></div>
							
							<div class="col-lg-4 col-md-6"><ul><li>Annual Report  2019-20 <a href="~/annual_reports/Annual Report  2019-20.pdf" target="_blank"><i class="fa fa-file-pdf text-primary"></i></a></li></ul></div>
							
							<div class="col-lg-4 col-md-6"><ul><li>Annual Report  2020-21 <a href="~/annual_reports/Annual Report  2020-21.pdf" target="_blank"><i class="fa fa-file-pdf text-primary"></i></a></li></ul></div>
							
							<div class="col-lg-4 col-md-6"><ul><li>Annual Report  2021-22 <a href="~/annual_reports/Annual Report  2021-22.pdf" target="_blank"><i class="fa fa-file-pdf text-primary"></i></a></li></ul></div>
							
                            <div class="col-lg-4 col-md-6"><ul><li>Annual Report  2022-23 <a href="~/annual_reports/Annual Report  2022-23.pdf" target="_blank"><i class="fa fa-file-pdf text-primary"></i></a></li></ul></div>
                            
                            <div class="col-lg-4 col-md-6"><ul><li>Annual Report  2023-24 <a href="~/annual_reports/Annual Report  2023-24.pdf" target="_blank"><i class="fa fa-file-pdf text-primary"></i></a></li></ul></div>
						</div>
                    </div>
                </div>				
			</div>
		</div>	
       
    </div>
    <!-- Content End -->