@page
@model BccFuba.Pages.Investors.FinancialReportsModel
@{
    ViewData["PageTitle"] = "Investors/Financial Reports";
}
<!-- Content Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item d-block rounded h-100 p-4">
                    <h4 class="mb-0">Year 2021 - 22</h4><br />					
                    <ul>
                        <li>First Quarter <a href="~/financial_reports/2021-22/Q-1.pdf" target="_blank"><i class="fa fa-file-pdf text-primary"></i></a></li><br />
                        <li>Second Quarter <a href="~/financial_reports/2021-22/Q-2.pdf" target="_blank"><i class="fa fa-file-pdf text-primary"></i></a></li><br />
                        <li>Third Quarter <a href="~/financial_reports/2021-22/Q-3.pdf" target="_blank"><i class="fa fa-file-pdf text-primary"></i></a></li><br />
                        <li>Fourth Quarter <a href="~/financial_reports/2021-22/Q-4.pdf" target="_blank"><i class="fa fa-file-pdf text-primary"></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item d-block rounded h-100 p-4">
                    <h4 class="mb-0">Year 2022 - 23</h4><br />					
                    <ul>
                        <li>First Quarter <a href="~/financial_reports/2022-23/Q-1.pdf" target="_blank"><i class="fa fa-file-pdf text-primary"></i></a></li><br />
                        <li>Second Quarter <a href="~/financial_reports/2022-23/Q-2.pdf" target="_blank"><i class="fa fa-file-pdf text-primary"></i></a></li><br />
                        <li>Third Quarter <a href="~/financial_reports/2022-23/Q-3.pdf" target="_blank"><i class="fa fa-file-pdf text-primary"></i></a></li><br />
                        <li>Fourth Quarter <a href="~/financial_reports/2022-23/Q-4.pdf" target="_blank"><i class="fa fa-file-pdf text-primary"></i></a></li>
                    </ul>
                </div>
            </div>
            
            <div class="col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item d-block rounded h-100 p-4">
                    <h4 class="mb-0">Year 2023 - 24</h4><br />
                    <ul>
                        <li>First Quarter <a href="~/financial_reports/2023-24/Q-1.pdf" target="_blank"><i class="fa fa-file-pdf text-primary"></i></a></li><br />
                        <li>Second Quarter <a href="~/financial_reports/2023-24/Q-2.pdf" target="_blank"><i class="fa fa-file-pdf text-primary"></i></a></li><br />
                        <li>Third Quarter <a href="~/financial_reports/2023-24/Q-3.pdf" target="_blank"><i class="fa fa-file-pdf text-primary"></i></a></li><br />
                        <li>Fourth Quarter <a href="~/financial_reports/2023-24/Q-4.pdf" target="_blank"><i class="fa fa-file-pdf text-primary"></i></a></li>
                    </ul>
                </div>
            </div>
            
            <div class="col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item d-block rounded h-100 p-4">
                    <h4 class="mb-0">Year 2024 - 25</h4><br />
                    <ul>
                        <li>First Quarter <a href="~/financial_reports/2024-25/Q-1.pdf" target="_blank"><i class="fa fa-file-pdf text-primary"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Content End -->