@page
@model BccFuba.Pages.Investors.PoliciesModel
@{
    ViewData["PageTitle"] = "Investors/Policies";
}
<!-- Content Start -->
<div class="container-xxl py-5">
	<div class="container">
		<div class="row g-5">
			<div class="col-lg-7 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
				<div class="service-item d-block rounded h-100 p-4">
					<h4 class="mb-0">Policies</h4><br />
					<ul>
						<li>Terms & Condtion of appointment of Independent Directors <a href="~/policies/Terms _ Condtion of appointment of Independent Directors.pdf" target="_blank"><i class="fa fa-file-pdf text-primary"></i></a></li>
						<br />

						<li>Compositions of Various Committees <a href="~/policies/Compositions of Various Committees.pdf" target="_blank"><i class="fa fa-file-pdf text-primary"></i></a></li>
						<br />

						<li>Code of Conduct for Directors and Senior Management <a href="~/policies/Code of Conduct for Directors and Senior Management.pdf" target="_blank"><i class="fa fa-file-pdf text-primary"></i></a></li>
						<br />

						<li>Vigil-Mechanism-Policy <a href="~/policies/Vigil-Mechanism-Policy.pdf" target="_blank"><i class="fa fa-file-pdf text-primary"></i></a></li>
						<br />

						<li>Criteria of Making Payment to Non Executive Directors <a href="~/policies/Criteria of Making Payment to Non Executive Directors.pdf" target="_blank"><i class="fa fa-file-pdf text-primary"></i></a></li>
						<br />

						<li>Policy on dealing with Related Party Disclosure <a href="~/policies/Policy on dealing with Related Party Disclosure.pdf" target="_blank"><i class="fa fa-file-pdf text-primary"></i></a></li>
						<br />

						<li>Familiarization Programmes imparted to Independent Directors <a href="~/policies/Familiarization Programmes imparted to Independent Directors.pdf" target="_blank"><i class="fa fa-file-pdf text-primary"></i></a></li>
						<br />

						<li>Disclosue of the policy for determination of Materiality of events or Information <a href="~/policies/Disclosue of the policy for determination of Materiality of events or Information.pdf" target="_blank"><i class="fa fa-file-pdf text-primary"></i></a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-5 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
				<div class="img-border">
					<img class="img-fluid" src="~/img/policy.jpg" alt="">
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row g-4">
			<div class="col-lg-12 col-md-12 wow fadeInUp" data-wow-delay="0.1s">
			</div>
		</div>
	</div>
</div>
<!-- Content End -->