@page
@model BccFuba.Pages.Investors.PoliciesModel
@{
    ViewData["Title"] = "BCC Fuba";
    ViewData["PageTitle"] = "Investors/Policies";
}
<!-- Content Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-12 wow fadeInUp" data-wow-delay="0.5s">
                <div class="h-100">
                    <h6 class="section-title bg-white text-start text-primary pe-3">Policies</h6>
                    <ul>
                        <li>Terms & Condition of appointment of Independent Directors <a href="~/policies/Terms & Condtion of appointment of Independent Directors.pdf" target="_blank"><i class="fa fa-file-pdf text-primary"></i></a></li>

                        <li>Compositions of Various Committees <a href="~/policies/Compositions of Various Committees.pdf" target="_blank"><i class="fa fa-file-pdf text-primary"></i></a></li>

                        <li>Code of Conduct for Directors and Senior Management <a href="~/policies/Code of Conduct for Directors and Senior Management.pdf" target="_blank"><i class="fa fa-file-pdf text-primary"></i></a></li>

                        <li>Vigil-Mechanism-Policy <a href="~/policies/Vigil-Mechanism-Policy.pdf" target="_blank"><i class="fa fa-file-pdf text-primary"></i></a></li>

                        <li>Criteria of Making Payment to Non Executive Directors <a href="~/policies/Criteria of Making Payment to Non Executive Directors.pdf" target="_blank"><i class="fa fa-file-pdf text-primary"></i></a></li>

                        <li>Policy on dealing with Related Party Disclosure <a href="~/policies/Policy on dealing with Related Party Disclosure.pdf" target="_blank"><i class="fa fa-file-pdf text-primary"></i></a></li>

                        <li>Familiarization Programmes imparted to Independent Directors <a href="~/policies/Familiarization Programmes imparted to Independent Directors.pdf" target="_blank"><i class="fa fa-file-pdf text-primary"></i></a></li>

                        <li>Disclosure of the policy for determination of Materiality of events or Information <a href="~/policies/Disclosue of the policy for determination of Materiality of events or Information.pdf" target="_blank"><i class="fa fa-file-pdf text-primary"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Content End -->