@page
@model BccFuba.Pages.Investors.StockExchangeFillingsModel
@{
    ViewData["PageTitle"] = "Investors/Stock Exchange Fillings";
}
<!-- Content Start -->
<div class="container-xxl py-5">
	<div class="container">
		<div class="row g-4">
			<div class="col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
				<div class="service-item d-block rounded h-100 p-4">
					<h4 class="mb-0">Year 2022 - 23</h4><br />
					<ul>
						<li>AGM Newspaper Publications <a href="~/stock_exchange_fillings/2022-23/AGM Newspaper Publications.pdf" target="_blank"><i class="fa fa-file-pdf text-primary"></i></a></li>
						<br />

						<li>Announcement under Regulation 30 (LODR)-Resignation of Director <a href="~/stock_exchange_fillings/2022-23/Announcement under Regulation 30 (LODR)-Resignation of Director.pdf" target="_blank"><i class="fa fa-file-pdf text-primary"></i></a></li>
						<br />

						<li>Compliance Certificate For The Year Ended March 31, 2023 <a href="~/stock_exchange_fillings/2022-23/Compliance Certificate For The Year Ended March 31, 2023.pdf" target="_blank"><i class="fa fa-file-pdf text-primary"></i></a></li>
						<br />

						<li>Q-1 Newspaper Publication <a href="~/stock_exchange_fillings/2022-23/Q-1 Newspaper Publication.pdf" target="_blank"><i class="fa fa-file-pdf text-primary"></i></a></li>
						<br />

						<li>Q-2 Newspaper Publication <a href="~/stock_exchange_fillings/2022-23/Q-2 Newspaper Publication.pdf" target="_blank"><i class="fa fa-file-pdf text-primary"></i></a></li>
						<br />

						<li>Q-4 Compliances-Certificate under Reg. 74 (5) of SEBI (DP) Regulations, 2018 <a href="~/stock_exchange_fillings/2022-23/Q-4 Compliances-Certificate under Reg. 74 (5) of SEBI (DP) Regulations, 2018.pdf" target="_blank"><i class="fa fa-file-pdf text-primary"></i></a></li>
						<br />

						<li>Q-4 Newspaper Publication <a href="~/stock_exchange_fillings/2022-23/Q-4 Newspaper Publication.pdf" target="_blank"><i class="fa fa-file-pdf text-primary"></i></a></li>
						<br />

						<li>Reconstitution Of Committees Of The Board <a href="~/stock_exchange_fillings/2022-23/Reconstitution Of Committees Of The Board.pdf" target="_blank"><i class="fa fa-file-pdf text-primary"></i></a></li>
						<br />

						<li>Shareholder Meeting  Postal Ballot-Outcome of AGM <a href="~/stock_exchange_fillings/2022-23/Shareholder Meeting  Postal Ballot-Outcome of AGM.pdf" target="_blank"><i class="fa fa-file-pdf text-primary"></i></a></li>
						<br />

						<li>Shareholder Meeting  Postal Ballot-Scrutinizer's Report <a href="~/stock_exchange_fillings/2022-23/Shareholder Meeting  Postal Ballot-Scrutinizer_s Report.pdf" target="_blank"><i class="fa fa-file-pdf text-primary"></i></a></li>
					</ul>
				</div>
			</div>

            <div class="col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item d-block rounded h-100 p-4">
                    <h4 class="mb-0">Year 2023 - 24</h4><br />
                    <ul>
                        <li>Announcement under Regulation 30 (LODR)-Change in Directorate <a href="~/stock_exchange_fillings/2023-24/Announcement under Regulation 30 (LODR)-Change in Directorate.pdf" target="_blank"><i class="fa fa-file-pdf text-primary"></i></a></li>
                        <br />

                        <li>Appointment Of Abhinav Bhardwaj As Chief Executive Officer <a href="~/stock_exchange_fillings/2023-24/Appointment Of Abhinav Bhardwaj As Chief Executive Officer.pdf" target="_blank"><i class="fa fa-file-pdf text-primary"></i></a></li>
                        <br />

                        <li>Compliances-Certificate under Reg. 74 (5) of SEBI (DP) Regulations, 2018 <a href="~/stock_exchange_fillings/2023-24/Compliances-Certificate under Reg. 74 (5) of SEBI (DP) Regulations, 2018.pdf" target="_blank"><i class="fa fa-file-pdf text-primary"></i></a></li>
                        <br />

                        <li>Compliances-Reg.24(A)-Annual Secretarial Compliance <a href="~/stock_exchange_fillings/2023-24/Compliances-Reg.24(A)-Annual Secretarial Compliance.pdf" target="_blank"><i class="fa fa-file-pdf text-primary"></i></a></li>
                        <br />

                        <li>Disclosures under Reg. 29(1) of SEBI (SAST) Regulations, 2011 <a href="~/stock_exchange_fillings/2023-24/Disclosures under Reg. 29(1) of SEBI (SAST) Regulations, 2011.pdf" target="_blank"><i class="fa fa-file-pdf text-primary"></i></a></li>
                        <br />

                        <li>Disclosures under Reg. 29(2) of SEBI (SAST) Regulations, 2011 <a href="~/stock_exchange_fillings/2023-24/Disclosures under Reg. 29(2) of SEBI (SAST) Regulations, 2011.pdf" target="_blank"><i class="fa fa-file-pdf text-primary"></i></a></li>
                        <br />

                        <li>Q-1 Newspaper Publication <a href="~/stock_exchange_fillings/2023-24/Q-1 Newspaper Publication.pdf" target="_blank"><i class="fa fa-file-pdf text-primary"></i></a></li>
                        <br />

                        <li>Q-2 Newspaper Publication <a href="~/stock_exchange_fillings/2023-24/Q-2 Newspaper Publication.pdf" target="_blank"><i class="fa fa-file-pdf text-primary"></i></a></li>
                        <br />

                        <li>Shareholder Meeting  Postal Ballot-Outcome of AGM <a href="~/stock_exchange_fillings/2023-24/Shareholder Meeting  Postal Ballot-Outcome of AGM.pdf" target="_blank"><i class="fa fa-file-pdf text-primary"></i></a></li>
                        <br />

                        <li>Shareholder Meeting  Postal Ballot-Scrutinizer's Report <a href="~/stock_exchange_fillings/2023-24/Shareholder Meeting  Postal Ballot-Scrutinizer_s Report.pdf" target="_blank"><i class="fa fa-file-pdf text-primary"></i></a></li>
                        <br />
                    </ul>
                </div>
            </div>
			
			<div class="col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
				<div class="service-item d-block rounded h-100 p-4">
					<h4 class="mb-0">Year 2024 - 25</h4><br />
					<ul>
						<li>Resignation letter Vishal Tayal <a href="~/stock_exchange_fillings/2024-25/Resignation_Letter_Vishal_Tayal.pdf" target="_blank"><i class="fa fa-file-pdf text-primary"></i></a></li>
					</ul>
				</div>
			</div>
        </div>
	</div>
</div>
<!-- Content End -->
