@page
@model BccFuba.Pages.AboutUs.BoardOfDirectorsModel
@{
    ViewData["Title"] = "BCC Fuba";
    ViewData["PageTitle"] = "About Us/Board of Directors";
}
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h6 class="section-title bg-white text-center text-primary px-3">Our Team</h6>
            <h1 class="display-6 mb-4">We Are A Creative Team For Your Dream Project</h1>
        </div>

        <div class="row g-4">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item d-block rounded text-center h-100 p-4">
                    <img class="img-fluid border rounded-circle w-75 p-2 mb-4" src="~/img/team-1.jpg" alt="">
                    <h5>CA Abhinav Bhardwaj</h5>
                    <span>Chief Executive Officer and Director</span>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item d-block rounded text-center h-100 p-4">
                    <img class="img-fluid border rounded-circle w-75 p-2 mb-4" src="~/img/team-1.jpg" alt="">
                    <h5>Chandar Vir Singh Juneja</h5>
                    <span>Independent Director</span>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item d-block rounded text-center h-100 p-4">
                    <img class="img-fluid border rounded-circle w-75 p-2 mb-4" src="~/img/team-1.jpg" alt="">
                    <h5>Anurag Gupta</h5>
                    <span>Non-Executive Director</span>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item d-block rounded text-center h-100 p-4">
                    <img class="img-fluid border rounded-circle w-75 p-2 mb-4" src="~/img/team-1.jpg" alt="">
                    <h5>Vishal Tayal</h5>
                    <span>Non-Executive Director </span>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item d-block rounded text-center h-100 p-4">
                    <img class="img-fluid border rounded-circle w-75 p-2 mb-4" src="~/img/team-1.jpg" alt="">
                    <h5>Mona Tayal</h5>
                    <span>Non-Executive Director </span>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item d-block rounded text-center h-100 p-4">
                    <img class="img-fluid border rounded-circle w-75 p-2 mb-4" src="~/img/team-1.jpg" alt="">
                    <h5>Richa Bhansali</h5>
                    <span>Independent Director</span>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item d-block rounded text-center h-100 p-4">
                    <img class="img-fluid border rounded-circle w-75 p-2 mb-4" src="~/img/team-1.jpg" alt="">
                    <h5>Hari Datt Jangid</h5>
                    <span>Independent Director</span>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item d-block rounded text-center h-100 p-4">
                    <img class="img-fluid border rounded-circle w-75 p-2 mb-4" src="~/img/team-1.jpg" alt="">
                    <h5>CA Manju Bhardwaj</h5>
                    <span>Additional Director</span>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item d-block rounded text-center h-100 p-4">
                    <img class="img-fluid border rounded-circle w-75 p-2 mb-4" src="~/img/team-1.jpg" alt="">
                    <h5>Alka Gupta</h5>
                    <span>Additional Director</span>
                </div>
            </div>
        </div>
    </div>
</div>