@page
@model BccFuba.Pages.AboutUs.CertificationsModel
@{
    ViewData["Title"] = "BCC Fuba";
    ViewData["PageTitle"] = "About Us/Certifications";
}
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            coming soon
        </div>
    </div>
</div>