@page
@model BccFuba.Pages.AboutUs.OverviewModel
@{
    ViewData["PageTitle"] = "About Us/Overview";
}
<div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
    <h6 class="section-title bg-white text-start text-primary pe-3">What are BCC Fuba?</h6>
    <h1 class="display-6 mb-4">India's leading <span class="text-primary">PCB Manufacturer Company</span></h1>
</div>
<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="img-gallery">
                    <div class="project-item">
                        <div class="img-contaner1">
                            <img class="img-fluid" src="~/img/overview2.jpg" alt="">
                            <a href="~/img/overview2.jpg" data-lightbox="project"><i class="fa fa-eye fa-2x"></i></a>
                        </div>
                        <div class="img-contaner2">
                            <img class="img-fluid" src="~/img/overview1.jpg" alt="">
                            <a href="~/img/overview1.jpg" data-lightbox="project"><i class="fa fa-eye fa-2x"></i></a>
                        </div>
                    </div>
                    <!-- <div class="buttons">
                        <a href="#"><img src="img/prev.png" alt=""></a>
                        <a href="#"><img src="img/next.png" alt=""></a>
                    </div> -->
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="h-100">
                    <p>Set up in 1985 for the manufacture of professional grade PCBs, BCC Fuba India Limited was one of the early entrants in the Indian PCB market. It took root as a joint-venture collaboration with Fuba Hans Kolbe & Co., Germany, a company having the fine distinction of being the largest PCB manufacturer in Europe, along with DEG, Germany, a well-known European financial institution. Accordingly, the facility was set up and developed with the most high-tech machinery imported from Germany, Italy, France, the UK and the USA. Further, the company was infused with a powerful impetus-package that combines the world’s best technological inputs with the complete manufacturing and quality control processes and skills, including certain special methods innovated and known only to Fuba Hans Kolbe & Co till date. To this, we have constantly made advancements keeping in mind the change in technology and the needs of our customers.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- Feature Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="h-100">
                    <p class="mb-4">Today, with our combination of highly advanced equipment and an expert, experienced team, we bring only the highest quality standards to the table. Our long list of eminent clients pays testimony to this.</p>

                    <p class="mb-4">Over the years, we have been awarded the IATF 16949:2016 certification, along with the certification by the Underwriters Laboratories (UL), USA. We are, therefore, certified to meet all DIN and US MIL standards and IPC specifications.</p>

                    <p class="mb-4"><b>BCC Fuba is listed on the Bombay Stock Exchange since 1990.</b></p>

                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="img-gallery">
                    <div class="project-item">
                        <div class="img-contaner1">
                            <img class="img-fluid" src="~/img/overview3.jpg" alt="">
                            <a href="~/img/overview3.jpg" data-lightbox="project"><i class="fa fa-eye fa-2x"></i></a>
                        </div>
                        <div class="img-contaner2">
                            <img class="img-fluid" src="~/img/overview4.jpg" alt="">
                            <a href="~/img/overview4.jpg" data-lightbox="project"><i class="fa fa-eye fa-2x"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Feature End -->