@page
@model BccFuba.Pages.AboutUs.SustainabilityModel
@{
    ViewData["PageTitle"] = "About Us/Sustainability";
}
<!-- Content Start -->
<div class="container-xxl py-5">
	<div class="container">
		<div class="row g-5">
			<div class="col-lg-7 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
				<div class="service-item d-block rounded h-100 p-4">
					<h4 class="mb-0">Sustainability</h4><br />
					<ul>
						<li>
							<b>Location and Environment:</b><br />
							Being situated in the clean environment of Nalagarh, near the foothills of the Himalayas, reflects a conscious choice for a location that values environmental quality.
						</li>
						<br />

						<li>
							<b>Facility Design and Construction:</b><br />
							Constructing the facility under expert guidance from Fuba Hans Kolbe Germany suggests a commitment to high standards in design and construction, likely incorporating best practices for environmental and energy efficiency.
						</li>
						<br />

						<li>
							<b>Utilities and PCB Manufacturing:</b><br />
							The facility's capability to meet all requirements of PCB manufacturing, particularly in terms of utilities, demonstrates a commitment to operational efficiency and technological advancements.
						</li>
						<br />

						<li>
							<b>Air-Conditioning and Dust-Free Environment:</b><br />
							The fact that the facility is fully air-conditioned and dust-free not only contributes to a conducive working environment but also aligns with sustainability goals by potentially reducing airborne pollutants.
						</li>
						<br />

						<li>
							<b>Unused Space for Future Expansion:</b><br />
							Allocating ample unused space for future expansion indicates a forward-thinking approach and readiness to accommodate growth sustainably.
						</li>
						<br />

						<li>
							<b>Environmental Monitoring:</b><br />
							The commitment to continuous checks of air and water pollution at the manufacturing unit shows a dedication to environmental stewardship and compliance with environmental regulations.
						</li>
						<br />

						<li>
							<b>Trade Effluent and Chemical Treatment Plant:</b><br />
							The focus on maintaining and upkeeping the trade effluent and chemical treatment plant underscores responsible waste management practices, minimizing environmental impact.
						</li>
						<br />

						<li>
							<b>Drinking Water Distribution System:</b><br />
							Setting up a drinking water distribution system for the general public reflects a commitment to social responsibility by providing a basic necessity in the form of clean and cold drinking water to 500 people daily.
						</li>
						<br />

						<li>
							<b>Triple Bottom Line Approach:</b><br />
							Acknowledging the triple bottom line approach, where financial performance is considered alongside social and environmental impacts, aligns with contemporary corporate sustainability practices.
						</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-5 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
				<div class="img-gallery">
					<div class="project-item">
						<div class="img-contaner1">
							<img class="img-fluid" src="~/img/sustainability1.jpg" alt="">
							<a href="~/img/sustainability1.jpg" data-lightbox="project"><i class="fa fa-eye fa-2x"></i></a>
						</div>
						<div class="img-contaner2">
							<img class="img-fluid" src="~/img/sustainability2.jpg" alt="">
							<a href="~/img/sustainability2.jpg" data-lightbox="project"><i class="fa fa-eye fa-2x"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Content End -->