@page
@model BccFuba.Pages.AboutUs.SustainabilityModel
@{
    ViewData["Title"] = "BCC Fuba";
    ViewData["PageTitle"] = "About Us/Sustainability";
}
<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="img-border">
                    <img class="img-fluid" src="~/img/sustainability1.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="h-100">
                    <p>
                        We use approximately 2,00,000 litres of water every day in our manufacturing process.
                        Hence, keeping in mind our social obligation, we have set-up a state-of-the-art Effluent 
                        Treatment Plant wherein we reprocess all the water we use, purify it and set it back to 
                        the ground. This helps keep the water table levels intact and our pollution 
                        outlay to almost zero.
                    </p>

                    <p>We process all the sewage generated at our Company’s Employee Housing Society and 
                        process it to separate the water from the other sewage and purify it. 
                        The rest is used as compost for the ground.</p>

                    <p>For all the chemical waste we generate, we send it to the nearby Solid Waste processing 
                        unit wherein the same is processed and turned into manure which is then in turn provided 
                        to nearby farmers to use in their fields.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->