@page
@model BccFuba.Pages.AboutUs.VisionAndMissionModel
@{
    ViewData["PageTitle"] = "About Us/Vision & Mission";
}
<!-- Vision Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="img-gallery">
                    <div class="project-item">
                        <div class="img-contaner2">
                            <img class="img-fluid" src="~/img/vision2.jpg" alt="">
                            <a href="~/img/vision2.jpg" data-lightbox="project"><i class="fa fa-eye fa-2x"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="h-100">
                    <h6 class="section-title bg-white text-start text-primary pe-3">Our Vision</h6>
                    <ul>
                        <li>Build the best product, use business to inspire</li>
                        <li>To become the market leader in the Indian PCB Industry</li>
                    </ul>

                    <h6 class="section-title bg-white text-start text-primary pe-3">Our Mission</h6>
                    <ul>
                        <li>To maintain manufacturing standards to match exacting requirements of high technology and high reliability end users</li>
                        <li>Create enabling technologies and innovative solutions to meet the future technology requirements of our customers</li>
                        <li>Achieve ultimate customer satisfaction through continuous attention to cost, quality, innovation and service support</li>
                    </ul>

                    <h6 class="section-title bg-white text-start text-primary pe-3">Our Values</h6>
                    <ul>
                        <li><span class="text-primary"><b>Customer Commitment</b></span> - We develop relationships that make a positive difference in our customer' lives</li>
                        <li><span class="text-primary"><b>Quality</b></span> - We provide outstanding products and unsurpassed service that, together, deliver premium value to our customers</li>
                        <li><span class="text-primary"><b>Integrity</b></span> - We uphold the highest standards of integrity in all our actions</li>
                        <li><span class="text-primary"><b>Teamwork</b></span> - We work together, to meet the needs of our customers and to help the company win</li>
                        <li><span class="text-primary"><b>People</b></span> - We act on the conviction that the men and women of BCC Fuba will always be our most important assets</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Vision End -->
