@page
@model BccFuba.Pages.CareerModel
@{
    ViewData["PageTitle"] = "Career";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h6 class="section-title bg-white text-center text-primary px-3">Join Our Team!</h6>
            <h1 class="display-6 mb-4">Fill in details below</h1>
        </div>
        <div class="row">
            <div class="col-lg-12 wow slideInUp" data-wow-delay="0.1s">
                <p>To see current openings please visit our <a href="https://www.linkedin.com/company/bcc-fuba-india-limited/" target="_blank">LinkedIn page.</a></p>
            </div>
        </div>
        <br/>
        @{
            if (@ViewData["ShowConfirmationMessage"] != null && Convert.ToBoolean(@ViewData["ShowConfirmationMessage"]) == true)
            {
                <div class="row">
                    <div class="col-lg-12 wow slideInUp alert alert-success" data-wow-delay="0.1s">
                        <strong> Thank you for getting in touch! </strong>
                        <span>We appreciate you contacting BCC Fuba. We will get back in touch with you soon! Have a great day!</span>
                    </div>
                </div>
            }
        }
        
        <div class="row g-5">
            <div class="col-lg-12 wow slideInUp" data-wow-delay="0.3s">
                <form method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="row g-3">
                        <div class="col-md-6 form-group">
                            <input id="firstName" type="text" name="FirstName" class="form-control border-0 bg-light px-4" placeholder="First Name" style="height: 55px;" required>
                        </div>
                        <div class="col-md-6 form-group">
                            <input id="lastName" type="text" name="LastName" class="form-control border-0 bg-light px-4" placeholder="Last Name" style="height: 55px;" required>
                        </div>
                        <div class="col-md-6 form-group">
                            <input id="phoneNumber" type="text" name="PhoneNumber" class="form-control border-0 bg-light px-4" placeholder="Phone Number" style="height: 55px;" required>
                        </div>
                        <div class="col-md-6 form-group">
                            <input id="emailAddress" type="email" name="Email" class="form-control border-0 bg-light px-4" placeholder="Email ID" style="height: 55px;" required />
                        </div>
                        <div class="col-12 form-group">
                            <input id="file" type="file" name="File" class="form-control border-0 bg-light px-4" placeholder="" style="line-height: 40px;" onchange="onSelect(this);" required />
                            Accepted file type: docx, doc, pdf
                            <span asp-validation-for="CareerForm.File" class="text-danger"></span>
                        </div>
                        <div class="col-12 form-group">
                            <Textarea id="message" name="Message" class="form-control border-0 bg-light px-4" placeholder="Your Message" style="height: 200px;" required></Textarea>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary w-100 py-3" type="submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function onSelect(e) {
        if (e.files[0].size > 5242880) { // File size restricted to 5 MB
            alert('The file size is too large for upload');
            e.preventDefault();
            return false;
        }
        // Array with information about the uploaded files
        var files = e.files;
        var ext = $('#file').val().split('.').pop().toLowerCase();
        if ($.inArray(ext, ['doc', 'docx', 'pdf']) == -1) {
            alert("Invalid file type. Only '.doc', '.docx' and '.pdf' are allowed to upload!");
            $('#file').val(null);
            e.preventDefault();
            return false;
        }
        return true;
    }
</script>