@page
@model IndexModel
@{
    ViewData["PageTitle"] = "Home page";
}

<!-- Carousel Start -->
<div class="container-fluid p-0 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div id="header-carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="w-100" src="img/carousel-1.jpg" alt="Image">
                <div class="carousel-caption">
                    <div class="p-3" style="max-width: 900px;">
                        <h4 class="text-white text-uppercase mb-4 animated zoomIn">Welcome To BCC Fuba India Ltd</h4>
                        <h1 class="display-1 text-white mb-0 animated zoomIn">PCB Manufacturer in India</h1>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="w-100" src="img/carousel-2.jpg" alt="Image">
                <div class="carousel-caption">
                    <div class="p-3" style="max-width: 900px;">
                        <h4 class="text-white text-uppercase mb-4 animated zoomIn">Welcome To BCC Fuba India Ltd</h4>
                        <h1 class="display-1 text-white mb-0 animated zoomIn">PCB Manufacturer in India</h1>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="w-100" src="img/carousel-3.jpg" alt="Image">
                <div class="carousel-caption">
                    <div class="p-3" style="max-width: 900px;">
                        <h4 class="text-white text-uppercase mb-4 animated zoomIn">Welcome To BCC Fuba India Ltd</h4>
                        <h1 class="display-1 text-white mb-0 animated zoomIn">PCB Manufacturer in India</h1>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="w-100" src="img/carousel-4.jpg" alt="Image">
                <div class="carousel-caption">
                    <div class="p-3" style="max-width: 900px;">
                        <h4 class="text-white text-uppercase mb-4 animated zoomIn">Welcome To BCC Fuba India Ltd</h4>
                        <h1 class="display-1 text-white mb-0 animated zoomIn">PCB Manufacturer in India</h1>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#header-carousel"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<!-- Carousel End -->
<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="img-border">
                    <img class="img-fluid" src="img/about.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="h-100">
                    <h6 class="section-title bg-white text-start text-primary pe-3">What are BCC Fuba?</h6>
                    <h1 class="display-6 mb-4">India's leading <span class="text-primary">PCB Manufacturer Company</span></h1>
                    <p>At the heart of every electronic product is a Printed Circuit Board, or a PCB, 
                        and the performance and life of each product depends hugely on the quality of its PCB. 
                        Which is why, we at BCC Fuba, have an uncompromising commitment towards quality to ensure 
                        that each PCB leaving our factory gates is in conformity with the internationally 
                        accepted standards.</p>

                    <a class="btn btn-primary rounded-pill py-3 px-5" href="overview.html">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h6 class="section-title bg-white text-center text-primary px-3">Services</h6>
            <h1 class="display-6 mb-4">Industries We Serve</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item d-block rounded text-center h-100 p-4">
                    <img class="img-fluid rounded mb-4" src="img/service-1.jpg" alt="">
                    <h4 class="mb-0">Automotive</h4>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item d-block rounded text-center h-100 p-4">
                    <img class="img-fluid rounded mb-4" src="img/service-2.jpg" alt="">
                    <h4 class="mb-0">Power Infrastructure</h4>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item d-block rounded text-center h-100 p-4">
                    <img class="img-fluid rounded mb-4" src="img/service-3.jpg" alt="">
                    <h4 class="mb-0">Consumer Electronics</h4>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item d-block rounded text-center h-100 p-4">
                    <img class="img-fluid rounded mb-4" src="img/service-4.jpg" alt="">
                    <h4 class="mb-0">Lighting</h4>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item d-block rounded text-center h-100 p-4">
                    <img class="img-fluid rounded mb-4" src="img/service-5.jpg" alt="">
                    <h4 class="mb-0">Telecommunications</h4>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item d-block rounded text-center h-100 p-4">
                    <img class="img-fluid rounded mb-4" src="img/service-6.jpg" alt="">
                    <h4 class="mb-0">Defence </h4>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item d-block rounded text-center h-100 p-4">
                    <img class="img-fluid rounded mb-4" src="img/service-7.jpg" alt="">
                    <h4 class="mb-0">Space</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->
<!-- Product Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h6 class="section-title bg-white text-center text-primary px-3">Our Products</h6>
            <h1 class="display-6 mb-4">Delivering superior quality & most reliable PCBs</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="project-item border rounded h-100 p-4">
                    <div class="position-relative mb-4">
                        <img class="img-fluid rounded" src="img/product-1.jpg" alt="">
                    </div>
                    <h6>Multilayer PCBs</h6>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="project-item border rounded h-100 p-4">
                    <div class="position-relative mb-4">
                        <img class="img-fluid rounded" src="img/product-2.jpg" alt="">
                    </div>
                    <h6>Double Sided PCBs</h6>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="project-item border rounded h-100 p-4">
                    <div class="position-relative mb-4">
                        <img class="img-fluid rounded" src="img/product-3.jpg" alt="">
                    </div>
                    <h6>Metal Core PCBs</h6>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="project-item border rounded h-100 p-4">
                    <div class="position-relative mb-4">
                        <img class="img-fluid rounded" src="img/product-4.jpg" alt="">
                    </div>
                    <h6>Single Sided PCBs</h6>
                </div>
            </div>


        </div>
    </div>
</div>
<!-- Product End -->
<!-- Certification Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h6 class="section-title bg-white text-center text-primary px-3">Certification</h6>
            <h1 class="display-6 mb-4">Our Certification</h1>
        </div>

        <div class="row g-4">
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                <div class="fact-item bg-light rounded text-center h-100 p-5">
                    <img class="img-fluid rounded" src="img/Certificate-Iso9001.png" alt="">
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                <div class="fact-item bg-light rounded text-center h-100 p-5">
                    <img class="img-fluid rounded" src="img/Certificate-UL.png" alt="">
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                <div class="fact-item bg-light rounded text-center h-100 p-5">
                    <img class="img-fluid rounded" src="img/Certificate-IATF.png" alt="">
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                <div class="fact-item bg-light rounded text-center h-100 p-5">
                    <img class="img-fluid rounded" src="img/Certificate-ROHS.png" alt="">
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                <div class="fact-item bg-light rounded text-center h-100 p-5">
                    <img class="img-fluid rounded" src="img/Certificate-REACH.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Certification End -->
